Witaj {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}!

Otrzymujesz tę wiadomość, gdyż Ty (lub ktoś kto zna Twój email i udaje Ciebie)
zlecił nam chęć zmiany hasła na {{ domain }} .

Jeżeli nie chcesz zmieniać hasła, po prostu zignoruj tę wiadomość.

Jeżeli chcesz zmienić hasło, naciśnij lub skopiuj i wklej do przeglądarki poniższy link:
{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

PS: Tak dla przypomnienia, Twój login to: "{{ user.username }}"!

Pozdrowienia,
Ekipa {{ site.name }}!