{% extends "registration/base.html" %}
{% load bootstrap %}

{% block title %}Resetuj hasło{% endblock %}
{% block content %}
	<form method="post" action="{% url django.contrib.auth.views.password_reset %}" class="form-horizontal">
	  	<legend>Resetuj hasło</legend>
		{% csrf_token %}
		<p>Aby zresetować hasło, wpisz poniżej adres email związany z Twoim kontem. Na podany przy rejestracji email zostanie wysłany specjalny link do zresetowania hasła.</p>
		{{form|bootstrap}}
	  	<div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">Resetuj</button>
		    </div>
	    </div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}