{% extends "registration/registration_base.html" %}
{% load bootstrap %}

{% block title %}Potwierdź resetowanie hasła!{% endblock %}

{% block content %}
	<form method="post" action="{% url django.contrib.auth.views.password_reset %}" class="form-horizontal">
	  	<legend>Potwierdź resetowanie hasła</legend>
		{% csrf_token %}
		<p>Aby ustalić nowe hasło, wpisz go poniżej.</p>
		{{form|bootstrap}}
	  	<div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">Ustal nowe hasło!</button>
		    </div>
	    </div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}