{% extends "modal_base.html" %}
{% load gravatar %}

{% block content %}

	<div class="row-fluid">
		<div class="span5">
			<h1>Lista streamów</h1>
		</div>
		<div class="span7">
			<ul class="nav nav-pills pull-right" id="facewithme-stream-list-categories">
				<li class="disabled"><a>Kategorie:</a></li>
				<li{% if not selected_category %} class="active"{% endif %}><a href="{% url core-stream_list %}">Wszystkie</a></li>
			  {% for category in categories_list %}
				  <li {% if selected_category and category.slug == selected_category.slug %}class="active" {% endif %}>
				    <a href="{% url core-stream_list_category category.slug %}">{{ category.name }}</a>
				  </li>
			  {% endfor %}
			</ul>
		</div>
	</div>
	
	{% for stream in stream_list %}
		<div class="facewithme-stream-item">
			<div class="row-fluid">
				<div class="span6">
					<h3>{{stream.title|truncatechars:35}} <a href="{{stream.get_absolute_url}}" class="btn btn-success btn-mini">&gt;</a></h3>
				</div>
				<div class="span6">
					<div class="facewithme-stream-item-categories">
						{% with categories=stream.categories.all %}
							{% if categories|length > 0 %}
								<small class="muted">kategoria</small> 
								{% for category in categories %}
									<a class="btn btn-info btn-mini" href="{{ category.get_absolute_url }}">{{category.name}}</a>
								{% endfor %}
							{% endif %}
						{% endwith %}
						<a href="{{stream.get_absolute_url}}" class="btn btn-success btn-mini">&gt;</a>
					</div>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span12">
					{% if stream.user %}
						<img src="{% gravatar_for_user stream.user 20 %}" alt="Profil {{ user }}" /> {{ user }}
					{% endif %}
					<span class="pull-right">
						<small class="muted">start</small> <span class="label">{{stream.start|time:"H:i"}}</span>
					</span>
					{% if stream.coordinates %}
						<small class="muted">miejsce</small> <a href=""><span class="label label-warning">{{stream.get_x}}</span> <span class="label label-warning">{{stream.get_y}}</a></span>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	
	{% if is_paginated %}
		<div class="pagination pagination-centered">
		  <ul>
			{% if page_obj.has_previous %}
				<li><a href="">««</a></li>
				<li><a href="?page={{ page_obj.previous_page_number  }}">«</a></li>
        	{% endif %}
        	{% for num_page in paginator.page_range %}
        		{% if num_page == page_obj.number  %}
		        	<li class="disabled"><a href="">{{ page_obj.number }}</a></li>
		        {% else %}
		        	<li><a href="?page={{ num_page }}">{{num_page}}</a></li>
		        {% endif %}
        	{% endfor %}

	        {% if page_obj.has_next %}
			    <li><a href="?page={{ page_obj.next_page_number }}">»</a></li>
			    <li><a href="?page={{ page_obj.num_pages }}">»»</a></li>
	        {% endif %}

		  </ul>
		</div>
	{% endif %}
{% endblock %}
