{% extends "modal_information.html" %}

{% block title_information %}
	O projekcie FaceWithMe.COM
{% endblock %}

{% block content_information %}
	FaceWithMe.COM jest to projekt stworzony jako jeden z elementów <a href="https://github.com/lechup/social-internet-monitoring-system/blob/master/praca.pdf?raw=true" target="_blank">pracy magisterskiej</a> "Społecznościowy System Monitoringu" pisanej przez Leszka Piątka pod nadzorem <a href="http://home.agh.edu.pl/~ernst/" target="_blank">dr inż. Sebastiana Ernsta</a>. Serwis ma w prosty sposób umożliwiać dzielenie się aktualnym streamem wideo z nieograniczoną liczbą użytkowników w sieci. 
{% endblock %}
